<Head:>
  <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css"/>
  <link rel="shortcut icon" type="image/png" href="/img/favicon32.ico">

<Body:>

    <header>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Derby Chat {{_session.version}}</a>
          </div>
          <div class="pull-right">
            <input type="text" placeholder="Nickname" value="{_page.user.name}" />
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="column" id="threads">
          <p><a x-bind="click: thread.all">All</a>
          {#each _page.threads as :thread}
            <p>
              <a style="color: {:thread.color}" x-bind="click: thread.select" data-id="{{:thread.id}}">{:thread.name}</a>
              {#if equal(:thread.id, _page.editThreadId)}
                <input type="text" value="{:thread.name}"/>
                <a x-bind="click: thread.save"><i class="icon-ok"></i></a>
              {else}
                <a x-bind="click: thread.edit" data-id="{:thread.id}"><i class="icon-edit"></i></a>
              {/}
            </p>
          {/}
        </div>
        <div class="column" id="chat">
          {#each _page.messages as :message}
            <p x-bind="click: thread.add">
              <span class="text-muted"><ui:date value={:message.date}> </span>
              <span class="text-primary">{name(:message.userId)}: </span>
              <span>{:message.text}</span>
              {#if :message.threadId}
                <span style="color: {color(:message.threadId)}">({thread(:message.threadId)})</span>
              {/}
              {#if equal(:message.id, _page.answerMessageId)}
                <span class="label label-info">Answer!</span>
              {/}

            </p>
          {/}
        </div>
        <div class="column" id="users">
          {#each _page.users as :user}
            <p>{name(:user.id, :user.name)}</p>
          {/}
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <p>
              You are writing to: 
              <span style="color: {color(_page.threadId)}"> {writing(_page.threadId, _page.answerMessageId)}</span>
              {#if _page.answerMessageId}
                <a class="btn" x-bind="click: thread.reset">Reset</a>
              {/}
            </p>
            <textarea id="enter" class="form-control" x-bind="keydown: message.add">{_page.text}</textarea>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </footer>

<Scripts:>
  <script src="/dist/js/favico-0.3.3.min.js"></script>