@import 'nib/vendor'

html, body
  height: 100%

header
  position: absolute
  left: 0
  top: 0
  height: 60px

footer
	position: absolute
	left: 0
	right: 0
	bottom: 0
	height: 100px

.column
  position: absolute
  top: 60px
  bottom: 100px
  overflow: auto

#threads
  left: 0
  width: 16.6%

#chat
  left: 16.6%
  width: 66.6%

#users
  left: 83.3%
  width: 16.6%